* {
  margin: 0;
}

.App{
  background-color: white;
}

.app__posts {
  padding: 20px;
  display:flex;
  justify-content: center;
}

.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fafafa;
  padding: 17px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__signupImage{
  display: flex;
  align-items: center;
  justify-content: center;
}


